<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>array</key>
	<array>
		<string>one</string>
		<string>two</string>
		<integer>123</integer>
		<date>2015-06-23T01:57:29Z</date>
	</array>
	<key>date</key>
	<date>2015-06-23T01:57:29Z</date>
	<key>ios</key>
	<data>
	aW9z
	</data>
	<key>num</key>
	<integer>345</integer>
	<key>one</key>
	<string>1</string>
	<key>two</key>
	<string>2</string>
</dict>
</plist>
